---
import {Markdown} from 'astro/components'
import AstroComp from '../components/AstroComp.astro';
import VueComp from '../components/VueComp.vue';
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Astro</title>

    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }
        p {font-size: 0.5em;}
    </style>
</head>
<body>
    <main>
        <header>
            <div>
                <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
                <h1>Welcome to Astro</h1>
                <p>You trustboys! This is the index page (it's an .astro-file). </p>
                <p>It's in the pages folder and is called 
                <Markdown>`index.astro`</Markdown>
                </p>
            </div>
        </header>

        <AstroComp />
        <VueComp from-astro="42"/>
    </main>
    <footer>Cheers!</footer>
</body>
</html>
